/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;500;600&family=Lora:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
#root {
    margin: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: var(--color-light-background);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    width: 100%;
    height: 20rem;
    background-color: rgb(201, 196, 196);
    overflow: hidden;
}
